# http://stackoverflow.com/a/24727824
# https://www.youtube.com/watch?v=o-UbWsO9rZk
include README.rst
include LICENSE

recursive-include enos/ansible *
include enos/ansible.cfg
recursive-include enos/templates *
recursive-include enos/inventories *
recursive-include enos/workload *
