---
name: discovery-kolla
walltime: 03:00:00

resources:
  paravance: 
    controller: 1
    compute: 1
    network: 1
    storage: 1
    util: 1 # You should define at least one util node

subnets:
  rennes: slash_22=1

# docker registry parameters
registry:
  ceph: true 
  ceph_keyring: /home/discovery/.ceph/ceph.client.discovery.keyring
  ceph_id: discovery
  ceph_rbd: discovery_kolla_registry/datas

