---
resources:
  paravance: 4

subnets:
  rennes: slash_22=1

openstack:
  controllers: 1
  compute: 1
  network: 1
  storage: 1

walltime: 04:00:00
job_name: discovery-kolla

# docker registry parameters
registry:
  ceph: true 
  ceph_keyring: /home/msimonin/.ceph/ceph.client.msimonin.keyring
  ceph_id: msimonin
  ceph_rbd: msimonin_registry0/datas

