---
# ############################################### #
# Grid'5000 reservation parameters                #
# ############################################### #
provider:
  type: g5k
  name: 'Enos'
  walltime: '02:00:00'
  # mandatory : you need to have exacly one vlan
  vlans:
     rennes: "{type='kavlan'}/vlan=1"
  # Be less strict on node distribution especially
  # when nodes are missing in the reservation
  # or not deployed
  role_distribution: debug

# Resources description
resources:
  paravance:
    control: 1
    compute: 1
    network: 1


# ############################################### #
# Chameleon reservation parameters                #
# ############################################### #
provider:
  type: chameleonkvm
  key_name: 'enos-key'
  walltime: '2:00:00'
resources:
  m1.large:
    control: 1
    network: 1
  m1.medium:
    compute: 1

provider:
  type: chameleonbaremetal
  key_name: 'enos-key'
  walltime: '2:00:00'
resources:
  compute:
    control: 1
    network: 1
    compute: 1

# ############################################### #
# Vagrant reservation parameters                  #
# ############################################### #
provider:
  type: vagrant
  box: debian/contrib-jessie64
resources:
  extra-large:
    control: 1
  medium:
    network: 1
  tiny:
    compute: 1

# ############################################### #
# Static provider parameter                       #
# ############################################### #
provider:
  type: static
  network:
    start: 192.168.142.3
    end:  192.168.142.119
    cidr: 192.168.142.0/24
    gateway: 192.168.142.1
    dns: 8.8.8.8
  eths:
    - eth1
    - eth2

resources:
  control:
    address: ip-control-node
    # alias: control-node
    # user: root
    # port: 2222
    # keyfile: /path/to/private_key
    # extra: ...
  network:
    address: ip-network-node
    # alias: network-node
    # user: root
    # port: 2222
    # keyfile: /path/to/private_key
    # extra: ...
  compute:
    - address: ip-compute-node1
      # alias: compute-node1
      # user: root
      # port: 2222
      # keyfile: /path/to/private_key
      # extra: ...
    - address: ip-compute-node2
      # alias: compute-node2
      # user: root
      # port: 2222
      # keyfile: /path/to/private_key
      # extra: ...



# ############################################### #
# Inventory to use                                #
# ############################################### #

# This will describe the topology of your services
inventory: inventories/inventory.sample

# ############################################### #
# docker registry parameters
# ############################################### #
registry:
  ceph: False
  ceph_keyring: /home/discovery/.ceph/ceph.client.discovery.keyring
  ceph_id: discovery
  ceph_rbd: discovery_kolla_registry/datas
  ceph_mon_host:
    - ceph0.rennes.grid5000.fr
    - ceph1.rennes.grid5000.fr
    - ceph2.rennes.grid5000.fr

# ############################################### #
# Monitoring stack parameters                     #
# ############################################### #
enable_monitoring: no

# ############################################### #
# Kolla parameters                                #
# ############################################### #
# Repository
kolla_repo: "https://git.openstack.org/openstack/kolla-ansible"
kolla_ref: "stable/ocata"

# Vars : globals.yml
kolla:
  kolla_base_distro: "centos"
  kolla_install_type: "source"
  docker_namespace: "beyondtheclouds"
  enable_heat: "no"
