export OS_PROJECT_DOMAIN_ID=default
export OS_PROJECT_DOMAIN_NAME=default
export OS_USER_DOMAIN_ID=Default
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_NAME=admin
export OS_TENANT_NAME=admin
export OS_USERNAME=admin
export OS_PASSWORD=demo
export OS_AUTH_URL=http://{{ keystone_address }}:5000/v3
export OS_IDENTITY_API_VERSION=3
export OS_REGION_NAME="RegionOne"
